---
import Layout from "../sections/layouts/Layout.astro";
---

<Layout>
	<main>
		<h1 class="text-center text-3xl font-bold">
			Welcome to Astro!
			<br />
			<small>
				Get started by editing <code>src/pages/index.astro</code>
			</small>
		</h1>
	</main>
</Layout>
